<div class="container-fluid" style="margin-top: 3em; margin-bottom: 2em">
  <div class="row mb-3">
    <div class="col-sm-6 col-lg-8">
      <h2 class="text-success fw-bold">Data Transaksi Pengguna Toko Buku</h2>
      <p class="text-muted">Berikut semua data yang disimpan dalam database</p>
    </div>
    <div class="col-sm-6 col-lg-4">
      <h2 class="fw-bold">Tambah Data Transaksi</h2>
      <p>
        Link <span><a href="/transaksi/add" style="text-decoration: none" class="text-success fw-bold">Tambah Data Transaksi</a></span>
      </p>
    </div>
    <div class="col-sm-12 col-lg-12 mt-3">
      <div class="table-responsive">
        <table id="mytable" class="display nowrap table-striped table-bordered table" style="width: 100%">
          <thead class="table-success">
            <tr>
              <th scope="row">Nomor</th>
              <th scope="col">Email</th>
              <th scope="col">Nomor Telepon</th>
              <th scope="col">Alamat</th>
              <th scope="col">Judul Buku</th>
              <th scope="col">Harga</th>
              <th scope="col">Sistem Pembayaran</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% i=1 %><% result.forEach(datas => { %>
            <tr>
              <td><%= i++ %></td>
              <td><%= datas.email %></td>
              <td><%= datas.nomor_telepon%></td>
              <td><%= datas.alamat %></td>
              <td><%= datas.judul_buku %></td>
              <td><%= datas.harga %></td>
              <td><%= datas.sistem_pembayaran %></td>
              <td>
                <a href="/transaksi/delete/<%= datas.id %> " onclick="return confirm('Anda yakin?')">
                  <button class="btn btn-danger badge">Hapus Data</button>
                </a>
                <br />
                <a href="/transaksi/edit/<%= datas.id %> ">
                  <button class="btn btn-warning badge">Edit Data</button>
                </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
